{% extends 'list.html' %}
{% load render_table from django_tables2 %}


{% block title %}Account {{ account }}{% endblock %}

{% block header_buttons %}
    <a href="{% url 'accounts:edit-view' pk=object.pk %}" role="button" class="btn btn-warning">Edit</a>
{% endblock %}

{% block inner_content %}

    <div class="row">
        <div class="col">
            <h4>Information</h4>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Line ID</th>
                    <td>{{ account.line_id }}</td>
                </tr>
                <tr>
                    <th scope="row">Speed</th>
                    <td>{{ account.down_speed_mbit }}/{{ account.up_speed_mbit }} MBit/s</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h4>Status</h4>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Session</th>
                    <td>{{ account.last_session.status }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Sessions</h4>
            {% render_table session_table %}
        </div>
    </div>



{% endblock %}